<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    td {
        text-align: center;
        padding: 10px
    }
</style>
<body>
<h1>兴业银行产品信息</h1>

<table border="1" cellspacing="0" cellpadding="2">
    <thead>
    <tr>
        <% for(let i = 1; i < titles.length; i++){ %>
        <th><%= titles[i] %></th>
        <% } %>
    </tr>
    </thead>
    <tbody>
    <% for(let i = 0; i < rows.length; i++){ %>
    <tr>
        <td><a href="<%= rows[i][0] %>"><%= rows[i][1] %></a></td>
        <% for(let j = 2; j < rows[i].length; j++){ %>
        <td><%= rows[i][j] %></td>
        <% } %>
    </tr>
    <% } %>

    </tbody>
</table>
</body>
</html>
